<div class="container-fluid"> 
  <h1 class="display-4">view your created schedules.</h1>
  <div class="card">
    <div class="card-body">
      <!-- Nav Tabs -->
      <ul class="nav nav-tabs" id="myTab" role="tablist" *ngIf="scheduleData">
        <li class="nav-item" *ngFor="let schedule of scheduleData">
          <a class="nav-link" [ngClass]="{'active show':scheduleData.indexOf(schedule)===0}" id="sched{{scheduleData.indexOf(schedule)}}-tab" data-toggle="tab" href="#sched{{scheduleData.indexOf(schedule)}}" role="tab">Schedule {{scheduleData.indexOf(schedule)}}</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane" [ngClass]="{'active show':scheduleData.indexOf(schedule)===0}" id="sched{{scheduleData.indexOf(schedule)}}" role="tabpanel" *ngFor="let schedule of scheduleData">
          <table class="table table-sm table-bordered">
            <thead>
              <th>Course Name</th>
              <th>Course Number</th>
              <th>Instructor</th>
              <th>CRN</th>
            </thead>
            <tbody>
              <tr *ngFor="let course of schedule.sched">
                <td>{{course.name}}</td>
                <td>{{course.major}} {{course.ident}}</td>
                <td>{{course.section.instructor.lname}}, {{course.section.instructor.fname}}</td>
                <td>{{course.section.call_number}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div id="loader-container" *ngIf="!scheduleData">
        <div class="loader"></div>
        <div class="loader-text">fetching your schedules.</div>
      </div>
    </div>
  </div>
</div>