<div class="card">
  <div class="card-header">
    Calendar
  </div>
  <div class="card-body">  
    <div id="calendar">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" class="time"></th>
            <th scope="col">Monday</th>
            <th scope="col">Tuesday</th>
            <th scope="col">Wednesday</th>
            <th scope="col">Thursday</th>
            <th scope="col">Friday</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let time of times">
            <td class="time">{{time}}</td>
            <td class="time_slot" data-available="No" (click)="toggle_time_slot($event.srcElement, time, 0)"></td>
            <td class="time_slot" data-available="No" (click)="toggle_time_slot($event.srcElement, time, 1)"></td>
            <td class="time_slot" data-available="No" (click)="toggle_time_slot($event.srcElement, time, 2)"></td>
            <td class="time_slot" data-available="No" (click)="toggle_time_slot($event.srcElement, time, 3)"></td>
            <td class="time_slot" data-available="No" (click)="toggle_time_slot($event.srcElement, time, 4)"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>