.time {
    border: 0;
    /* padding-top: 0; */
    top: -17px;
    display: block;
    position: relative;
    text-align: center;
}

table {
    border: 0;
    margin: 0;
}

td {
    padding: 3px;
    /* height: 24px; */
}

th {
    width: 19%;
}

.time_slot[data-available="No"] {
    background: #d34a00;
}

.time_slot[data-available="Maybe"] {
    background: #CCCC00;
}

.time_slot[data-available="Yes"] {
    background: #02a71d;
}

table tbody tr:last-child td {
    border: 0;
    background: 0;
}

.card-header {
    background-color: #9400D3;
    color: #fff;
    padding: 8px 16px;
}

.card {
    margin-bottom: 12px;
}