<div class="container">
	<div class="card">
		<div class="card-header">
			Register
		</div>
		<div class="card-body">
			<form (submit)="registerUser($event)">
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1">GaTech Email</span>
					</div>
					<input type="text" class="form-control" placeholder="gburdell85@gatech.edu" aria-label="Username" aria-describedby="basic-addon1">
				</div>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1">Password</span>
					</div>
					<input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
				</div>
				<div class="float-right">
					<div class="btn-toolbar">
						<input class="btn btn-primary" type="submit" value="Register">
					</div>
				</div>
			</form>
		</div>
	</div>	
</div>