.card {
	margin-left: 25%;
	margin-right: 25%;
}

.alert {
	margin-left: 25%;
	margin-right: 25%;
}

.card-header {
	background-color: #9400D3;
	color: #FFFFFF;
}

.btn {
	margin-left: 10px;
}

.container {
	padding-top: 60px;
}