<div class="container">
	<div class="alert alert-danger" *ngIf="show_alert" role="alert">
		{{alert_text}}
	</div>
	<div class="card">
		<div class="card-header">
			Register
		</div>
		<div class="card-body">
			<form (submit)="registerUser($event)">
				<div class="form-group">
					<label for="email">Email</label>
					<input required [(ngModel)]="email" name="email" type="email" id="email "class="form-control" placeholder="gburdell85@gatech.edu">
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input required [(ngModel)]="password" name="password" type="password" id="password" class="form-control">
				</div>
				<div class="form-group">
					<label for="conf_password">Confirm Password</label>
					<input required [(ngModel)]="conf_password" name="conf_password" type="password" id="conf_password" class="form-control">
				</div>
				<div class="float-right">
					<div class="btn-toolbar">
						<input class="btn btn-success" type="submit" value="Register">
					</div>
				</div>
			</form>
		</div>
	</div>	
</div>