<div class="card">
  <div class="card-header">
    Course Groups
  </div>
  <div class="card-body">
    <div class="row">
      <div id="course-selector" class="col-9">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Group 1: Must take</th>
              <th scope="col">Group 2: Maybe take</th>
              <th scope="col">Group 3: Exclude these</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>MATH 1554</td>
              <td>CS 4001</td>
              <td>CS 3510</td>
            </tr>
            <tr>
              <td>CS 1332</td>
              <td>ECON 2011</td>
              <td>PHYS 2212</td>
            </tr>
            <tr>
              <td>CS 1100</td>
            </tr>
            <tr>
              <td>MUSI 3311</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-3">
        <a href="#"><button type="button" class="btn btn-primary btn-lg btn-block">Go to GroupBuilder</button></a>
      </div>        
    </div>
  </div>
</div>