<div id="course-selector">
  <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Group 1: Must take</th>
          <th scope="col">Group 2: untitled</th>
          <th scope="col" class="edit_button">Edit Groups</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>MATH 1554</td>
          <td>CS 4001</td>
        </tr>
        <tr>
          <td>CS 1332</td>
        </tr>
        <tr>
          <td>CS 1100</td>
        </tr>
        <tr>
          <td>MUSI 3311</td>
        </tr>
      </tbody>
    </table>
</div>

<!-->*ngFor="let time of times"!-->